.dash-board .write-note {
    padding: 10px 0;
    text-align: center;
    align-items: center;
    width: 50%;
    margin: 50px auto;
}
.note{
    max-height: border-box;
}
.note:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}
.dash-board .card-title {
    font-weight: bold;
}

.note-input {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
    padding:15px;
    text-align:left;
}

.dash-board .write-note p {
    padding: 10%;
}

.modal-header .close {
    display: none;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.note-card-content-input {
    border: 0 none;
    box-shadow: none !important;
    outline: none;
    color: black;
}

.note-card-title-input {
    border: 0 none;
    box-shadow: none !important;
    outline: none;
    color: black;
    font-weight: bold;
}

.footer-button {
    background-color: white;
    border: 0 none;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.25rem;
    padding: 8px 24px;
    font-weight: bold;
}

.footer-button:hover {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.87);
}

.footer-container {
    text-align-last: end;
}

.footer-edited-time {
    font-size: xx-small;
    color: #999999;
    padding-left: 100px;
}
