.Home .lander {
    padding: 10px 0;
    text-align: center;
    align-items: center;
    width: 50%;
    margin: 50px auto;
}
.Home .title {
    font-weight: bold;
}
.Home .lander input {
    box-shadow: 5px 5px 5px gray;
}

.Home .lander p {
    padding: 10%;
}
.modal-header .close {
    display:none;
}
.modal-header {
    border-bottom: 0 none;
}
.modal-footer {
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}
.modal-input {
    border: 0 none;
    box-shadow: none!important;
    outline: none;
}
.footer-button{
    background-color: white;
    border: 0 none;
    color: rgba(0,0,0,0.87);
    line-height: 1.25rem;
    padding: 8px 24px;
    font-weight: bold;
}
.footer-label{
    text-align-last: end;
}
.footer-edited {
  font-size: small;
    color: #999999;
    padding-left: 100px;
}
