.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}
.navbar{
    background-color: goldenrod;
}
.link{
    color: white;
}